/*===== Variables =====*/
:root {
  /*===== Font =====*/
  --font: "Outfit", sans-serif;

  /*===== Colors =====*/
  --soft-blue: #8bacda;
  --cyan: #00fff7;
  --main-BG: #0d192b;
  --card-BG: #14253d;
  --line: #2f415b;
  --white: #fff;
}

/*===== Globals =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font);
  font-size: 62.5%;
  line-height: 1.5;
  background-color: var(--main-BG);
}
